[Unit]
Description=Flask App Service
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/watch-dog-ai/watch-dog-backend
ExecStart=/home/ec2-user/watch-dog-ai/watch-dog-backend/venv/bin/python /home/ec2-user/watch-dog-ai/watch-dog-backend/main.py
Restart=always
RestartSec=5
Environment="PORT=80"
Environment="FLASK_ENV=production"

[Install]
WantedBy=multi-user.target
