flask
vidgear[core]
setuptools
opencv-python
pytube
yt_dlp
flask-cors
scenedetect[opencv]
python-dotenv
flask_sqlalchemy
psycopg2-binary
Flask-SQLAlchemy
pandas
numpy
huggingface_hub
transformers
openai
torch
sentence_transformers